@import url("inventory.php");

body {font-size: 12px;}
p, h2, h3, h1 { margin-bottom: .25em; margin-top: .25em; }

#header, #sidebar, .nav, .dcstats .heading > div + div button {display: none;}

div.main {
	display: block;
	max-width: 800px;
	min-width: 0px;
	transform:scale(1,1);
	-ms-transform:scale(1,1); /* IE 9 */
	-moz-transform:scale(1,1); /* Firefox */
	-webkit-transform:scale(1,1); /* Safari and Chrome */
	-o-transform:scale(1,1); /* Opera */
	transform-origin:50% 0%;
	-ms-transform-origin:50% 0%; /* IE 9 */
	-moz-transform-origin:50% 0%; /* Firefox */
	-webkit-transform-origin:50% 0%; /* Safari and Chrome */
	-o-transform-origin:50% 0%; /* Opera */
}

div.main .center {
	margin-left: 60px;
	margin-right: 60px;
}
#infopanel > fieldset > p + p ~ p {
	display: none;
}
#layout { display: none; }
.meter-value {
	border: 1px solid black;
	overflow: hidden;
}
.meter-value:after {
	content: url("orange-50.png");
	width: 100%;
	height: 70%;
}
.device div.left {
	display: block;
}


