#users should be creating this
db.inc.php

#we don't want to accidentally send this out populated, again
install.log
install.err

#logbook extension that might be in the dev directory
elogs/

#poedit temp files used in merge operations
locale/*/LC_MESSAGES/openDCIM.po*

#ignore pictures
pictures/
drawings/
/composer.lock
assets/

#ignore symlinks
scripts/jquery-ui.min.js
scripts/jquery.min.js
css/jquery-ui.css

# ignore vendor directory and composer phar
/vendor/
/composer.phar
