parameters:
	ignoreErrors:
		-
			message: '#^Anonymous function has an unused use \$app\.$#'
			identifier: closure.unusedUse
			count: 1
			path: api/v1/deleteRoutes.php

		-
			message: '#^Anonymous function has an unused use \$config\.$#'
			identifier: closure.unusedUse
			count: 1
			path: api/v1/getRoutes.php

		-
			message: '#^Anonymous function has an unused use \$person\.$#'
			identifier: closure.unusedUse
			count: 2
			path: api/v1/getRoutes.php

		-
			message: '#^Argument of an invalid type DataCenter supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: api/v1/getRoutes.php

		-
			message: '#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: api/v1/getRoutes.php

		-
			message: '#^Method PDUStats\:\:Search\(\) invoked with 3 parameters, 0\-2 required\.$#'
			identifier: arguments.count
			count: 1
			path: api/v1/getRoutes.php

		-
			message: '#^Variable \$dcList might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: api/v1/getRoutes.php

		-
			message: '#^Loose comparison using \=\= between 1 and ''AD'' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: api/v1/index.php

		-
			message: '#^Loose comparison using \=\= between 1 and ''LDAP'' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 2
			path: api/v1/index.php

		-
			message: '#^Loose comparison using \=\= between 1 and ''OIDC'' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 2
			path: api/v1/index.php

		-
			message: '#^Loose comparison using \=\= between 1 and ''Saml'' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 2
			path: api/v1/index.php

		-
			message: '#^Path in require_once\(\) "\.\./\.\./db\.inc\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: api/v1/index.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 5
			path: api/v1/index.php

		-
			message: '#^Argument of an invalid type People supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: api/v1/postRoutes.php

		-
			message: '#^Argument of an invalid type DevicePorts supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: api/v1/putRoutes.php

		-
			message: '#^Argument of an invalid type DeviceTemplate supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: api/v1/putRoutes.php

		-
			message: '#^Cannot assign offset ''code'' to string\.$#'
			identifier: offsetAssign.dimType
			count: 1
			path: cabinets.php

		-
			message: '#^Path in require_once\(\) "db\.inc\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: cabinets.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: cabinets.php

		-
			message: '#^Call to function is_array\(\) with array\<int\<1, max\>, mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: classes/CDUInfo.class.php

		-
			message: '#^Argument of an invalid type \$this\(CabRow\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/CabRow.class.php

		-
			message: '#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/CabRow.class.php

		-
			message: '#^Argument of an invalid type \$this\(Cabinet\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: classes/Cabinet.class.php

		-
			message: '#^Method Cabinet\:\:__construct\(\) with return type void returns \$this\(Cabinet\) but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: classes/Cabinet.class.php

		-
			message: '#^Parameter \#1 \$datetime of function strtotime expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: classes/Cabinet.class.php

		-
			message: '#^Method DCIMMail\:\:send\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: classes/DCIMMail.class.php

		-
			message: '#^Argument of an invalid type \$this\(DataCenter\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: classes/DataCenter.class.php

		-
			message: '#^Method DataCenter\:\:__construct\(\) with return type void returns \$this\(DataCenter\) but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: classes/DataCenter.class.php

		-
			message: '#^Method DataCenter\:\:getContainerList\(\) has invalid return type type\.$#'
			identifier: class.notFound
			count: 1
			path: classes/DataCenter.class.php

		-
			message: '#^Method DataCenter\:\:getContainerList\(\) should return type but returns array\.$#'
			identifier: return.type
			count: 1
			path: classes/DataCenter.class.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$containerList$#'
			identifier: parameter.notFound
			count: 1
			path: classes/DataCenter.class.php

		-
			message: '#^Parameter \#1 \.\.\.\$arrays of function array_merge expects array, type given\.$#'
			identifier: argument.type
			count: 1
			path: classes/DataCenter.class.php

		-
			message: '#^Argument of an invalid type \$this\(Department\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: classes/Department.class.php

		-
			message: '#^Method Department\:\:__construct\(\) with return type void returns \$this\(Department\) but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: classes/Department.class.php

		-
			message: '#^Parameter \#1 \$month of function checkdate expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: classes/DeviceCustomAttribute.class.php

		-
			message: '#^Parameter \#2 \$day of function checkdate expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: classes/DeviceCustomAttribute.class.php

		-
			message: '#^Parameter \#3 \$year of function checkdate expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: classes/DeviceCustomAttribute.class.php

		-
			message: '#^Argument of an invalid type \$this\(DevicePorts\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/DevicePorts.class.php

		-
			message: '#^Argument of an invalid type \$this\(DeviceStatus\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/DeviceStatus.inc.php

		-
			message: '#^Method DeviceStatus\:\:__construct\(\) with return type void returns \$this\(DeviceStatus\) but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: classes/DeviceStatus.inc.php

		-
			message: '#^Parameter \#1 \$array of function end is passed by reference, so it expects variables only\.$#'
			identifier: argument.byRef
			count: 2
			path: classes/ESX.class.php

		-
			message: '#^Variable \$vmList might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: classes/ESX.class.php

		-
			message: '#^Argument of an invalid type \$this\(LogActions\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: classes/LogActions.class.php

		-
			message: '#^Inner named functions are not supported by PHPStan\. Consider refactoring to an anonymous function, class method, or a top\-level\-defined function\. See issue \#165 \(https\://github\.com/phpstan/phpstan/issues/165\) for more details\.$#'
			identifier: function.inner
			count: 4
			path: classes/LogActions.class.php

		-
			message: '#^Parameter \#1 \$datetime of function strtotime expects string, int given\.$#'
			identifier: argument.type
			count: 2
			path: classes/LogActions.class.php

		-
			message: '#^Parameter \#3 \$data_comp_func of function array_udiff_uassoc expects callable\(mixed, mixed\)\: int, ''key_comp'' given\.$#'
			identifier: argument.type
			count: 1
			path: classes/LogActions.class.php

		-
			message: '#^Parameter \#4 \$key_comp_func of function array_udiff_uassoc expects callable\(int\|string, int\|string\)\: int, ''val_comp'' given\.$#'
			identifier: argument.type
			count: 1
			path: classes/LogActions.class.php

		-
			message: '#^Method Manufacturer\:\:__construct\(\) with return type void returns \$this\(Manufacturer\) but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: classes/Manufacturer.class.php

		-
			message: '#^Argument of an invalid type \$this\(PDUStats\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/PDUStats.class.php

		-
			message: '#^Variable \$vmList might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: classes/PMox.class.php

		-
			message: '#^Function int not found\.$#'
			identifier: function.notFound
			count: 1
			path: classes/PUEView.class.php

		-
			message: '#^Method PUEView\:\:lastInsertID\(\) invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: classes/PUEView.class.php

		-
			message: '#^Argument of an invalid type \$this\(People\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 5
			path: classes/People.class.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: classes/People.class.php

		-
			message: '#^Loose comparison using \=\= between 1 and ''Apache'' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: classes/People.class.php

		-
			message: '#^Loose comparison using \=\= between 1 and ''LDAP'' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: classes/People.class.php

		-
			message: '#^Loose comparison using \=\= between 1 and ''OIDC'' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: classes/People.class.php

		-
			message: '#^Loose comparison using \=\= between 1 and ''Saml'' will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: classes/People.class.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 2
			path: classes/People.class.php

		-
			message: '#^Call to method PlannedPath\:\:escribe_log\(\) on a separate line has no effect\.$#'
			identifier: method.resultUnused
			count: 23
			path: classes/PlannedPath.class.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: classes/PlannedPath.class.php

		-
			message: '#^Argument of an invalid type \$this\(PowerConnection\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/PowerConnection.class.php

		-
			message: '#^Argument of an invalid type \$this\(PowerDistribution\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/PowerDistribution.class.php

		-
			message: '#^Call to function is_object\(\) with stdClass will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: classes/PowerDistribution.class.php

		-
			message: '#^Call to function unset\(\) contains undefined variable \$statsOutput\.$#'
			identifier: unset.variable
			count: 1
			path: classes/PowerDistribution.class.php

		-
			message: '#^Variable \$error might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: classes/PowerDistribution.class.php

		-
			message: '#^Argument of an invalid type \$this\(PowerPanel\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: classes/PowerPanel.class.php

		-
			message: '#^Variable \$poleId might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: classes/PowerPanel.class.php

		-
			message: '#^Variable \$row might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: classes/PowerPanel.class.php

		-
			message: '#^Argument of an invalid type \$this\(PowerPorts\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/PowerPorts.class.php

		-
			message: '#^Variable \$o might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: classes/PowerPorts.class.php

		-
			message: '#^Argument of an invalid type \$this\(Projects\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/Projects.class.php

		-
			message: '#^Argument of an invalid type \$this\(SensorReadings\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/SensorReadings.class.php

		-
			message: '#^Method TemplatePorts\:\:__construct\(\) with return type void returns \$this\(TemplatePorts\) but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: classes/TemplatePorts.class.php

		-
			message: '#^Method TemplatePowerPorts\:\:__construct\(\) with return type void returns \$this\(TemplatePowerPorts\) but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: classes/TemplatePowerPorts.class.php

		-
			message: '#^Argument of an invalid type \$this\(VM\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/VM.class.php

		-
			message: '#^Argument of an invalid type \$this\(Zone\) supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/Zone.class.php

		-
			message: '#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: classes/Zone.class.php

		-
			message: '#^Argument of an invalid type Device supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: devices.php

		-
			message: '#^Argument of an invalid type DeviceTemplate supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: devices.php

		-
			message: '#^Argument of an invalid type PowerDistribution supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: devices.php

		-
			message: '#^Call to an undefined static method MediaDataRates\:\:GetDataRateList\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: devices.php

		-
			message: '#^Function generatePatterns not found\.$#'
			identifier: function.notFound
			count: 1
			path: devices.php

		-
			message: '#^Function parseGeneratorString not found\.$#'
			identifier: function.notFound
			count: 1
			path: devices.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: devices.php

		-
			message: '#^Parameter \#1 \$array of function end is passed by reference, so it expects variables only\.$#'
			identifier: argument.byRef
			count: 1
			path: devices.php

		-
			message: '#^Path in require_once\(\) "db\.inc\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: devices.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 3
			path: devices.php

		-
			message: '#^Variable \$LastRead might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: devices.php

		-
			message: '#^Variable \$LastWattage might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: devices.php

		-
			message: '#^Variable \$lastAudit might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: devices.php

		-
			message: '#^Variable \$lastCAudit might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: devices.php

		-
			message: '#^Variable \$linkList might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: devices.php

		-
			message: '#^Variable \$pDev might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: devices.php

		-
			message: '#^Variable \$parentList might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: devices.php

		-
			message: '#^Variable \$upTime might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: devices.php

		-
			message: '#^Variable \$wattage might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: devices.php

		-
			message: '#^Path in require_once\(\) "\.\./db\.inc\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: scripts/check-exists.php

		-
			message: '#^Parameter \#1 \$string of function strip_tags expects string, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: scripts/testemail.php

		-
			message: '#^Path in require_once\(\) "\.\./db\.inc\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: scripts/testemail.php

		-
			message: '#^Path in require_once\(\) "\.\./db\.inc\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: scripts/uploadifive.php

		-
			message: '#^Variable \$targetFile might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: scripts/uploadifive.php
