<?php
/* The intent of this file is to detect the current version of openDCIM and 
   automate the patching of the database schema to the current version as
   well as highlight / set any new values that have been added.

   If this file is detected the system will not let any other operations
   occur until this file has completed its job.  This will ensure that newer
   versions of openDCIM are not allowed to make changes to a database that
   might not be ready for them.

   2012-Jun-08
   Wilbur Longwisch
*/

//	connect to the db using the existing credentials
	require_once( 'db.inc.php' );

	$successlog="";

function applyupdate ($updatefile){
	//Make sure the upgrade file exists.
	if(file_exists($updatefile)){
		$file=fopen($updatefile, 'r');
		$sql=array();
		while(feof($file)===false){
			$sql[]=fgets($file);
		}
		$sqlstring="";
		foreach($sql as $key => $value){
			// I really need a better way to filter out comments but this works.
			if(substr($value,0,1)==' '||substr($value,0,1)=='-'){
			}else{
				$sqlstring.=trim($value);
			}
		}
		fclose($file);
		$sql=explode(";",$sqlstring);
		unset($sql[count($sql)-1]);
		$result=0;
		foreach($sql as $key => $value){
			if(!mysql_query($value)){
				//something broke log it
				@$errormsg.=mysql_error();
				$result=1;
			}
		}
		if($result){
			if(!isset($errormsg)){
				$errormsg="An error has occured while applying $updatefile. Please consult the server logs for more details.";
			}
		}else{
			$successlog="$updatefile: Database updates applied.\n<br>";
		}
	}else{
		$errormsg="Seems you're at 1.0 but you're missing the db updates to goto 1.1. Are you sure that db-1.0-to-1.1.sql unpacked from the archive?";
	}
	$temp=array();
	if(isset($errormsg)){
		$temp[1]=$errormsg;
	}else{
		$temp[0]=$successlog;
	}
	return $temp;
}


//  test for openDCIM version
	$result=mysql_query("SELECT Parameter FROM fac_Config WHERE Parameter='DELL_ID' LIMIT 1;");
	if(mysql_num_rows($result)!=0){// We found the DELL_ID so either someone put in something custom or we're at 1.0
		$results[]=applyupdate("db-1.0-to-1.1.sql");
	}
	$result=mysql_query("SELECT Value FROM fac_Config WHERE Parameter='Version' LIMIT 1;");
	if(mysql_num_rows($result)==0){// Empty result set means this is either 1.0 or 1.1. Surely the check above caught all 1.0 instances.
		$results[]=applyupdate("db-1.1-to-1.2.sql");
	}


?>
<!doctype html>
<html>
<head>
<title>Upgrade</title>
<style type="text/css">
.error { color: red;}
.success { color: green;}
</style>
</head>
<body>
<?php 
if(isset($results)){
	foreach($results as $key => $value){
		foreach($value as $status => $message){
			if($status==1){$class="error";}else{$class="success";}
			print "<h1 class=\"$class\">$message</h1>";
		}
	}
	print "<p class=\"$class\">If all updates have completed.  Please remove upgrade.php to return to normal functionality</p>";
}else{
	echo '<p class="success">All is well.  Please remove upgrade.php to return to normal functionality</p>';
}
?>
</body>
</html>
